<head>

  <title>{{ .Title }} | {{ $.Site.Title }}</title>

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon.svg" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon.svg" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	

	<meta property="og:url"                content="https://abhilashbaishya.xyz/video/" />
<meta property="og:type"               content="business" />
<meta property="og:title"              content="Video | Baishya" />
<meta property="og:description"        content="Photographer / Filmmaker" />
<meta property="og:image"              content="https://images.unsplash.com/photo-1514483127413-f72f273478c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" />
	
	
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="/">
	<meta property="twitter:title" content="{{ .Title }} | {{ $.Site.Title }}">
	<meta property="twitter:description" content="Photographer / Filmmaker">
	<meta property="twitter:image" content="https://abhilashbaishya.xyz/img/mgk1.jpg">

  {{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>
