<header class="bg-white black-80 tc pv4">
  <a class="pointer dim mt2 mb0 baskerville ttu fw1 f1-l f2-m f5 mon no-underline tracked" href="/">
    <img src="/img/logo.png"/>
  </a>
  <nav class="tc mt4-ns mt2 jose flex justify-between">
    <a class="f6 dim no-underline black-80 ttl " href="/video">Video</a>
    <a class="f6 dim no-underline black-80 ttl " target="__blank" href="https://www.instagram.com/abhilashbaishya/">Instagram</a>
    <a class="f6 dim no-underline black-80 ttl " href="/contact">Contact</a>
  </nav>
</header>