<header class="bg-white black-80 tc pv4">
  <a class="pointer dim mt2 mb0 baskerville ttu fw1 f1-l f2-m f5 mon no-underline tracked" href="/">
  <div class="w-100 ma0 cf">
    <div class="w-50 fl tl">Abhilash</div>
    <div class="w-50 fr tr">Baishya</div>
  </div>
  </a>
  <nav class="tc mw7 center mt4-ns mt2 jose flex justify-between">
    <a class="f6 dim no-underline black-80 ttl " href="/video">Video</a>
    <a class="f6 dim no-underline black-80 ttl " target="__blank" href="https://www.instagram.com/abhilashbaishya/">Instagram</a>
    <a class="f6 dim no-underline black-80 ttl " href="/contact">Contact</a>
  </nav>
</header>