<header class="bg-white black-80 tc pv3 pv1-ns mb5-ns mt4-ns">
  <a class="pointer f2-l f2-m f6 no-underline dim ttu monument tracked" href="/">
    Abhilash Baishya
  </a>
  <nav class="tc popreg flex justify-center mw5-ns center pt2 pt0-ns mt3-ns">
    <a class="f7 dim no-underline black-80 ttl ph5-l ph4-m ph3 tracked navbaritem" href="/video/">Video</a>
    <a class="f7 dim no-underline black-80 ttl ph5-l ph4-m ph3 tracked navbaritem" target="__blank" href="https://www.instagram.com/abhilashbaishya/">Instagram</a>
    <a class="f7 dim no-underline black-80 ttl ph5-l ph4-m ph3 tracked navbaritem" href="/contact/">Contact</a>
  </nav>
</header>