{{ define "main" }}

<div class="">
	<div class="mw6 jose pv3 f6 center">

		<!-- {{ .Content }} -->

		<div class="cf">
			<div class="w-100 w-60-ns fl">
				<article class="mw5 mw6-ns center">
					<div class="aspect-ratio aspect-ratio--16x9 ">
					  <div class="aspect-ratio--object cover" style="background:url(img/contact.jpg) center;"></div>
					</div>
				  </article>
			</div>
			<div class="pl4-ns w-100 w-40-ns fl tracked mt3 mt0-ns">
				<span class="db mb3-ns"> Photographer </span>
				<span class="db mb3-ns"> Filmmaker </span>
				<span class="db mb3-ns"> Graphic Designer </span>
				<span class="f7"> Pune / Guwahati, India </span> <br/>
				<a href="mailto:notbaishya@gmail.com" class="f7 link pointer"> enquiries: notbaishya@gmail.com </a>
			</div>

		</div>
		<!-- {{ partial "contact-form" . }} -->

	</div>
</div>

{{ end }}
