{{ define "main" }}

<div class="">
	<div class="mw6 jose pv3 f6 center">

		<!-- {{ .Content }} -->

		<div class="mw9 center">


<!--
	start of for mobile
-->
  <div class="cf ph2-ns dn-ns">
    <div class="center tc w-100 w-70-ns">
	  <img class="cf br-100 h4 w4 dib" src="img/contact.png"/>
	</div>
    <div class="tc w-100 w-30-ns mb4 popreg f6o5">
	  Abhilash is a Photo / Videographer, Graphic Designer,
	  Editor based out of Pune, currently studying in Symbiosis
	  Institute of Design. His passion is to enhance the user's
	  experience by conceptualising, innovating and creating apt designs.
	</div>

    <div class="tc popreg w-100 w-70-ns f6o5">
		<span class="b"> for bookings / enquiries </span>
		<br/>
		<a class="link pointer" href="mailto:notbaishya@gmail.com"> notbaishya@gmail.com </a >
		<br/>
		<a target="_blank" href="https://www.facebook.com/ABHILASHxBAISHYA/" class="no-underline">
			<img class="h1" src="/img/fb.svg"/>
		</a>
		<a target="_blank" href="https://instagram.com/abhilashbaishya" class="no-underline">
			<img class="h1" src="/img/ig.svg"/>
		</a>
		<!--
		<a target="_blank" href="https://twitter.com/abhilashbaishya" class="no-underline">
			<img class="h1" src="/img/tw.svg"/>
		</a>
		-->
		<a target="_blank" href="https://www.behance.net/abhilashbaishya?tracking_source=search%7CAbhilash%20Baishya" class="no-underline">
			<img class="h1" src="/img/be.svg"/>
		</a>
		<a target="_blank" href="https://www.youtube.com/user/abhilashbaishya" class="fa no-underline fa-youtube-square">
			<img class="h1" src="/img/yt.svg"/>
		</a>
	</div>
  </div>
</div>

<!--
	end of for mobile
-->
<!--
	start of for desktop
-->
  <div class="cf ph2-ns dn db-ns">
    <div class="fl w-100 w-70-ns pt2 popreg f6o5">
	  Abhilash is a Photo / Videographer, Graphic Designer,<br/>
	  Editor based out of Pune, currently studying in Symbiosis<br/>
	  Institute of Design. His passion is to enhance the user's<br/>
	  experience by conceptualising, innovating and creating <br/>
	  apt designs.
	</div>
    <div class="fl w-100 w-30-ns mb3">
	  <img class="fr br-100 h4 w4 dib" src="img/contact.png"/>
	</div>

    <div class="fl w-100 w-70-ns pt2 f6o5 popreg">
		<span class="b"> for bookings / enquiries </span>
		<br/> <a class="link pointer mb0" href="mailto:notbaishya@gmail.com"> notbaishya@gmail.com </a >
		<br/>
		<br/>
		<a target="_blank" href="https://www.facebook.com/ABHILASHxBAISHYA/" class="no-underline">
			<img class="h1" src="/img/fb.svg"/>
		</a>
		<a target="_blank" href="https://instagram.com/abhilashbaishya" class="no-underline">
			<img class="h1" src="/img/ig.svg"/>
		</a>
		<!--
		<a target="_blank" href="https://twitter.com/abhilashbaishya" class="no-underline">
			<img class="h1" src="/img/tw.svg"/>
		</a>
		-->
		<a target="_blank" href="https://www.behance.net/abhilashbaishya?tracking_source=search%7CAbhilash%20Baishya" class="no-underline">
			<img class="h1" src="/img/be.svg"/>
		</a>
		<a target="_blank" href="https://www.youtube.com/user/abhilashbaishya" class="fa no-underline fa-youtube-square">
			<img class="h1" src="/img/yt.svg"/>
		</a>
	</div>
  </div>
</div>
<!--
	end of for desktop
-->
 
<!--
		<div class="cf relative">

			<div class="w-100 w-60-ns fl-ns center">
				<article class="mw6-ns center-ns">
					<img class="br0" src="img/contact.png"/>
				  </article>
			</div>
			<div class="pl3-ns w-100 w-40-ns fl-ns tracked mt3 mt0-ns">
				<div class="aspect-ratio-ns aspect-ratio--16x9-ns tc tl-ns">
			
				<div class="absolute-ns bottom-0-ns f6o5">

		<span class="db mb3-ns"> Photographer </span>
					<span class="db mb3-ns"> Filmmaker </span>
					<span class="db mb3"> Graphic Designer </span>
					<div class="">
		<a target="_blank" href="https://www.facebook.com/ABHILASHxBAISHYA/" class="no-underline">
			<img class="h1" src="/img/fb.svg"/>
		</a>
		<a target="_blank" href="https://twitter.com/abhilashbaishya" class="no-underline">
			<img class="h1" src="/img/tw.svg"/>
		</a>
		<a target="_blank" href="https://www.behance.net/abhilashbaishya?tracking_source=search%7CAbhilash%20Baishya" class="no-underline">
			<img class="h1" src="/img/be.svg"/>
		</a>
		<a target="_blank" href="https://instagram.com/abhilashbaishya" class="no-underline">
			<img class="h1" src="/img/ig.svg"/>
		</a>
		<a target="_blank" href="https://www.youtube.com/user/abhilashbaishya" class="fa no-underline fa-youtube-square">
			<img class="h1" src="/img/yt.svg"/>
		</a>
					</div>

				<span class=""> Pune / Guwahati, India </span> <br/>
				<a href="mailto:notbaishya@gmail.com" class="link pointer mb0"> enquiries: notbaishya@gmail.com </a>
				</div>
				</div>
			</div>

		</div>
	-->
		<!-- {{ partial "contact-form" . }} -->

	</div>
</div>

{{ end }}
