{{ define "main" }}

<div class="">
	<div class="mw6 jose pv3 f6 center">

		<!-- {{ .Content }} -->

		<div class="cf relative">
			<div class="w-100 w-60-ns fl">
				<article class="mw5 mw6-ns center-ns">
					<div class="aspect-ratio aspect-ratio--16x9 ">
					  <div class="aspect-ratio--object cover" style="background:url(img/contact.jpg) center;"></div>
					</div>
				  </article>
			</div>
			<div class="pl4-ns w-100 w-40-ns fl tracked mt3 mt0-ns">
				<div class="aspect-ratio-ns aspect-ratio--16x9-ns">
					<span class="db mb3-ns"> Photographer </span>
					<span class="db mb3-ns"> Filmmaker </span>
					<span class="db"> Graphic Designer </span>
				<div class="absolute-ns bottom-0-ns">
				<span class="f7"> Pune / Guwahati, India </span> <br/>
				<a href="mailto:notbaishya@gmail.com" class="f7 link pointer mb0"> enquiries: notbaishya@gmail.com </a>
				</div>
				</div>
			</div>

		</div>
		<!-- {{ partial "contact-form" . }} -->

		<div class="mt3 mb2 f4">
		<a target="_blank" href="https://www.facebook.com/ABHILASHxBAISHYA/" class="fa no-underline fa-facebook-square"></a>
		<a target="_blank" href="https://twitter.com/abhilashbaishya" class="fa no-underline fa-twitter-square"></a>
		<a target="_blank" href="https://www.behance.net/abhilashbaishya?tracking_source=search%7CAbhilash%20Baishya" class="fa no-underline fa-behance-square"></a>
		<a target="_blank" href="https://instagram.com/abhilashbaishya" class="fa no-underline fa-instagram-square"></a>
		<a target="_blank" href="https://www.youtube.com/user/abhilashbaishya" class="fa no-underline fa-youtube-square"></a>
		</div>


	</div>
</div>

{{ end }}
